# Python-HW: PyBank Financial Data Analysis
## Alex Manley
---

In [67]:
# Import the necessary librarys

import csv
import pandas as pd

In [68]:
# Read .csv file into program using pd.read_csv
budget_data_csv = pd.read_csv('budget_data.csv')
budget_data_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [69]:
# Make the Date as the Index
budget_data_csv.set_index(pd.to_datetime(budget_data_csv['Date'], infer_datetime_format = True), inplace=True)
budget_data_csv.head()

                Date  Profit/Losses
Date
2010-01-01  Jan-2010         867884
2010-02-01  Feb-2010         984655
2010-03-01  Mar-2010         322013
2010-04-01  Apr-2010         -69417
2010-05-01  May-2010         310503

In [70]:
# Add column to track monthly changes in profits
budget_data_csv["Monthly Profit Change"] = budget_data_csv["Profit/Losses"] - budget_data_csv["Profit/Losses"].shift(1)
budget_data_csv.head()

                Date  Profit/Losses  Monthly Profit Change
Date
2010-01-01  Jan-2010         867884                    NaN
2010-02-01  Feb-2010         984655               116771.0
2010-03-01  Mar-2010         322013              -662642.0
2010-04-01  Apr-2010         -69417              -391430.0
2010-05-01  May-2010         310503               379920.0

In [71]:
# Fill in null value for first month
budget_data_csv['Monthly Profit Change'] = budget_data_csv['Monthly Profit Change'].fillna(0)
budget_data_csv.head()

                Date  Profit/Losses  Monthly Profit Change
Date
2010-01-01  Jan-2010         867884                    0.0
2010-02-01  Feb-2010         984655               116771.0
2010-03-01  Mar-2010         322013              -662642.0
2010-04-01  Apr-2010         -69417              -391430.0
2010-05-01  May-2010         310503               379920.0

In [72]:
# Define a count formula for the number of months in the Date Index
Total_Months = str(budget_data_csv.shape[0])
print(Total_Months)

86

In [73]:
# Define the total profits over entire period
Total_Profits = sum(budget_data_csv['Profit/Losses'])
print(Total_Profits)

38382578

In [74]:
# Define the average monthly profit change
Average_Change = round(sum(budget_data_csv['Monthly Profit Change']) / (len(budget_data_csv['Monthly Profit Change']) - 1), 0)
print(Average_Change)

-2315.0

In [75]:
# Define the Greatest Increase in Profits
Max_Increase = max(budget_data_csv['Monthly Profit Change'])
print(Max_Increase)

1926159.0

In [76]:
# Return the index value that generates the max
Max_Increase_Date = budget_data_csv['Monthly Profit Change'].idxmax()
print(Max_Increase_Date)

2012-02-01 00:00:00

In [77]:
# Define the Greatest Decrease in Profits
Max_Decrease = min(budget_data_csv['Monthly Profit Change'])
print(Max_Decrease)

-2196167.0

In [78]:
# Return the index value that generates the min
Max_Decrease_Date = budget_data_csv['Monthly Profit Change'].idxmin()
print(Max_Decrease_Date)

2013-09-01 00:00:00

In [79]:
# Define formula to print the results
Combined_Financial_Analysis = print("Financial Analysis")
print("----------------------------")
print("Total Months: ", Total_Months)
print("Total: $", Total_Profits)
print("Average Change: $", Average_Change)
print("Greatest Increase in Profits: ", Max_Increase_Date, "($", Max_Increase, ")")
print("Greatest Decrease in Profits: ", Max_Decrease_Date, "($", Max_Decrease, ")")

Financial Analysis
----------------------------
Total Months:  86
Total: $ 38382578
Average Change: $ -2315.0
Greatest Increase in Profits:  2012-02-01 00:00:00 ($ 1926159.0 )
Greatest Decrease in Profits:  2013-09-01 00:00:00 ($ -2196167.0 )

In [80]:
# Define multiple lines of combined text and Variables
def Line_1():
    print("Financial Analysis")
    return "Financial Analysis \n"

def Line_2():
    print("----------------------------")
    return "---------------------------- \n"

def Line_3():
    print("Total Months: ", Total_Months)
    return "Total Months: ", str(Total_Months), "\n"

def Line_4():
    print("Total: $", Total_Profits)
    return "Total: $", str(Total_Profits), "\n"

def Line_5():
    print("Average Change: $", Average_Change)
    return "Average Change: $", str(Average_Change), "\n"

def Line_6():
    print("Greatest Increase in Profits: ", Max_Increase_Date, "($", Max_Increase, ")")
    return "Greatest Increase in Profits: ", str(Max_Increase_Date), "($", str(Max_Increase), ")", "\n"
    
def Line_7():
    print("Greatest Decrease in Profits: ", Max_Decrease_Date, "($", Max_Decrease, ")")
    return "Greatest Decrease in Profits: ", str(Max_Decrease_Date), "($", str(Max_Decrease), ")", "\n"

In [81]:
# Concatenating multiple strings into single string
def Line_3_Concat(Line_3):
    Line_3_Concat = ''.join(Line_3())
    return Line_3_Concat

Line_3_Concat(Line_3)

Total Months:  86

'Total Months: 86\n'

In [82]:
# Concatenating multiple strings into single string
def Line_4_Concat(Line_4):
    Line_4_Concat = ''.join(Line_4())
    return Line_4_Concat

Line_4_Concat(Line_4)

Total: $ 38382578

'Total: $38382578\n'

In [83]:
# Concatenating multiple strings into single string
def Line_5_Concat(Line_5):
    Line_5_Concat = ''.join(Line_5())
    return Line_5_Concat

Line_5_Concat(Line_5)

Average Change: $ -2315.0

'Average Change: $-2315.0\n'

In [84]:
# Concatenating multiple strings into single string
def Line_6_Concat(Line_6):
    Line_6_Concat = ''.join(Line_6())
    return Line_6_Concat

Line_6_Concat(Line_6)

Greatest Increase in Profits:  2012-02-01 00:00:00 ($ 1926159.0 )

'Greatest Increase in Profits: 2012-02-01 00:00:00($1926159.0)\n'

In [85]:
# Concatenating multiple strings into single string
def Line_7_Concat(Line_7):
    Line_7_Concat = ''.join(Line_7())
    return Line_7_Concat

Line_7_Concat(Line_7)

Greatest Decrease in Profits:  2013-09-01 00:00:00 ($ -2196167.0 )

'Greatest Decrease in Profits: 2013-09-01 00:00:00($-2196167.0)\n'

In [86]:
# Combine the individual lines of text into one block of text
def combined_text():
    L1 = Line_1()
    L2 = Line_2()
    L3 = Line_3()
    L4 = Line_4()
    L5 = Line_5()
    L6 = Line_6()
    L7 = Line_7()
    return (L1, L2, L3, L4, L5, L6, L7)

In [87]:
# Check to see that the combined_text() formula is functioning
combined_text()

Financial Analysis
----------------------------
Total Months:  86
Total: $ 38382578
Average Change: $ -2315.0
Greatest Increase in Profits:  2012-02-01 00:00:00 ($ 1926159.0 )
Greatest Decrease in Profits:  2013-09-01 00:00:00 ($ -2196167.0 )

('Financial Analysis \n', '---------------------------- \n', ('Total Months: ', '86', '\n'), ('Total: $', '38382578', '\n'), ('Average Change: $', '-2315.0', '\n'), ('Greatest Increase in Profits: ', '2012-02-01 00:00:00', '($', '1926159.0', ')', '\n'), ('Greatest Decrease in Profits: ', '2013-09-01 00:00:00', '($', '-2196167.0', ')', '\n'))

In [90]:
# This is the auto-file writer.  It sends the lines to the PyBank Financial Analysis.txt file

with open('PyBank Financial Analysis.txt', 'w') as file:
    file.write(Line_1())

with open('PyBank Financial Analysis.txt', 'a') as file:
    file.write(Line_2())

with open('PyBank Financial Analysis.txt', 'a') as file:
    file.write(Line_3_Concat(Line_3))
    
with open('PyBank Financial Analysis.txt', 'a') as file:
    file.write(Line_4_Concat(Line_4))
    
with open('PyBank Financial Analysis.txt', 'a') as file:
    file.write(Line_5_Concat(Line_5))
    
with open('PyBank Financial Analysis.txt', 'a') as file:
    file.write(Line_6_Concat(Line_6))
    
with open('PyBank Financial Analysis.txt', 'a') as file:
    file.write(Line_7_Concat(Line_7))

Financial Analysis
----------------------------
Total Months:  86
Total: $ 38382578
Average Change: $ -2315.0
Greatest Increase in Profits:  2012-02-01 00:00:00 ($ 1926159.0 )
Greatest Decrease in Profits:  2013-09-01 00:00:00 ($ -2196167.0 )

In [91]:
print("Financial Analysis")
print("----------------------------")
print("Total Months: ", Total_Months)
print("Total: $", Total_Profits)
print("Average Change: $", Average_Change)
print("Greatest Increase in Profits: ", Max_Increase_Date, "($", Max_Increase, ")")
print("Greatest Decrease in Profits: ", Max_Decrease_Date, "($", Max_Decrease, ")")

Financial Analysis
----------------------------
Total Months:  86
Total: $ 38382578
Average Change: $ -2315.0
Greatest Increase in Profits:  2012-02-01 00:00:00 ($ 1926159.0 )
Greatest Decrease in Profits:  2013-09-01 00:00:00 ($ -2196167.0 )